<DOCTYPE HTML>
 <html>
   <head>
   	<title>portfolio</title>
   </head>
   <body>
   <p>this is portfolio project</p>
    {% for i in names %}
   <ul>
    <li> {{ i }} </li>
  	 {% endfor %}
  	 <p>the request method is {{ request_method}}
   <form method="POST" action="/temp">
   	<p> form</p>
   	<input type="text" name="email" placeholder="email"><br>
   	<input type="password"name="password"placeholder="password"">
   	<input type="submit"name="submit"placeholder="submit">
   </form>
   <p> from the database</p>
   {% for i in todo %}
   	{{ i.content }}
   	{% endfor %}
   </body>
  </html>

